.button {
    background-color: #057705;
    border: none;
    color: #eeeeee;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 16px;
    text-align: center;
}

.button:hover {
    background-color: #078f07;
}

.buttoninvisivel {
    background-color: #eeeeee;
    border: none;
    color: #eeeeee;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 16px;
}

.buttoninvisivel:hover {
    background-color: #eeeeee;
}