.grid-container {
    display: grid;
    height: 150px;
    grid-template-columns: auto auto auto;
    grid-gap: 10px;
    padding: 10px;
}

.grid-container>div {
    padding: 20px 0;
    font-size: 30px;
}